.image_header{
    height: 10cm;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .form_header {
    text-align: center;
  }
  
  .input_header {
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    
  }
  
  .button_header {
    height: 40px;
    width: auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(177, 62, 20);
  }
  .button_header:hover{
    transform: scale(1.05);
    box-shadow: 0 0 2em #0008;
  }

.resident_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5em;
}

